data/raw/
data/processed/
data/quarantine/
dbt/target/
dbt/public/
dbt/logs/
dbt/dbt_packages/
dbt/.user.yml
dbt/seeds/*.csv
dashboard/data.json
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
venv/
.venv/
*.egg-info/
.DS_Store
